@import 'reset.css';

:root {
  --black: #1f1f1f;
  --pink: #f753c0;
  --blue: #6495ed;
  --white: #ffffff;
  --aqua: #5bc9a4;
  --labelText: #afbdcf;

  --nmPadSize: 5px;
  --nmMargSize: 5px;
  --nmBackColor: var(--whjite);
  --nmBorder: 2px solid #afbdcf;
  --nmBorderRadius: 10px;
}

body {
  width: 100%;
  height: 100%;
}

span {
  font-style: inherit;
  font-weight: inherit;
  font-size: 1rem;
}

img {
  height: auto;
  max-width: 100%;
}

.nm.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-evenly;
}

.nm.flex_wrap {
  padding: 10px;
  background-color: var(--nmBackColor);
  position: relative;
}

.nm.flex_wrap.place_label {
  font-size: 16px;
  color: var(--labelText);
  padding: 14px;
  position: absolute;
  top: calc(var(--nmPadSize) + var(--nmMargSize));
  left: calc(var(--nmPadSize) + var(--nmMargSize));
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

.nm.label {
  padding: var(--nmPadSize);
  margin: var(--nmMargSize);
  color: var(--labelText);
}

.nm.item {
  display: inline-block;
}

.nm.gap {
  padding: var(--nmPadSize);
  margin: var(--nmMargSize);
}

.nm.fitem_equal {
  flex: 1;
}

.nm.inline_grid {
  display: inline-grid;
}
/* ======================= INPUT START ======================= */
.nm.rounded_input {
  border-radius: var(--nmBorderRadius);
  border: var(--nmBorder);
  transition: 1s border-color;
  min-width: 150px;
  min-height: 20px;
  padding: var(--nmPadSize);
  margin: var(--nmMargSize);
  width: auto;
  height: auto;
  position: relative;
}

.nm.rounded_input:hover {
  /* border: 1px solid var(--pink); */
}

input:focus + .nm.place_label,
input:valid + .nm.place_label {
  font-size: 12px;
  color: var(--labelText);
  top: 10px;
  left: 20px;
  background: var(--white);
  padding: 0px 2px 0px 2px;
}
/* ======================= INPUT END ========================= */

/* ======================= SELECT START ======================= */
.nm.rounded_select {
  border-radius: var(--nmBorderRadius);
  border: var(--nmBorder);
  transition: 1s border-color;
  min-width: 150px;
  min-height: 32px;
  padding: var(--nmPadSize);
  margin: var(--nmMargSize);
}
/* ======================= SELECT END ========================= */

/* ======================= HEAD START ======================= */
.nm.head_logo {
  color: rgb(255, 255, 255);
  background: url(https://media.bazaarvoice.com/Inspire23-StickyBanner-Gradient-2000x400-1.png)
    center center / cover no-repeat rgb(0, 171, 244);
  height: auto;
  font-size: 1.6rem;
  opacity: 0.8;
  text-align: center;
  transition: all ease 4s;
  width: 100%;
  background-color: #ff4b78;
  opacity: 1;
  z-index: 100;
}
.nm.head_img {
  margin: 0 auto;
  max-width: 300px;
  padding: 10px 0;
}

.nm.head_logo strong {
  color: inherit;
  font-family: 'gibsonsemibold', Helvetica, Arial, sans-serif;
  margin-right: 3px;
  font-size: 1rem;
  font-weight: bold;
}

.nm.head_logo a {
  color: inherit;
  display: inline-block;
  font-family: 'gibson', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin-left: 4px;
  padding: 11px 0;
  position: relative;
}
/* ======================= HEAD END ========================= */
